.improve-item {
    border: 2px solid #8d9bb8;
    padding: 5px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.improve-item__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 100%;
    align-items: center;
}

.improve-item__empty {
    width: 100%;
    text-align: center;
    padding: 5px;
    color: #8d9bb86b;
}