.improve {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 100px;
    margin: 0 auto;
    padding: 10px;
    max-width: 500px;
    background-color: #181425;
    z-index: 55;
}

.button__close {
    position: absolute;
    display: block;
    font-size: 25px;
    top: -25px;
    right: 0;
}