.app {
  /* max-width: 400px; */
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin: 0 auto;
  background-color: #181425;
  overflow: hidden;
}

.button {
  border: none;
  background-color: #8d9bb86b;
  color: #181425;
  font-family: 'Press Start 2P', cursive;
  padding: 4px 8px;
}

.char__hp-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid rgb(187, 1, 1);
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(50, 50, 50, 0.9)
}

.dungeon__floor {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 35vh;
  background-image: url('./img/dungeon_floor.png');
  background-size: auto 35vh;
  background-position-x: 0;
  background-repeat: repeat-x;
  animation: floor 5s linear infinite;
  z-index: 5;
}

.dungeon__background-first {
  width: 100%;
  height: 55vh;
  background-image: url('./img/dungeon_back_1.png');
  background-size: auto 55vh;
  animation: backround_1 10s linear infinite;
  z-index: 1;
}

.dungeon__background-second {
  position: absolute;
  top: 10vh;
  width: 100%;
  height: 55vh;
  background-image: url('./img/dungeon_back_2.png');
  background-size: auto 55vh;
  z-index: 0;
  animation: backround_2 15s linear infinite;
}

.dungeon__multiplair {
  position: absolute;
  left: 0;
  right: 0;
  top: 5vh;
  text-align: center;
}

.char {
  position: absolute;
  bottom: 35vh;
  width: 200px;
  height: 148px;
  z-index: 55;
}

.char__run {
  background-image: url('./img/char_run.png');
  animation: char_run_animation 1s steps(6) infinite;
}

.char__attack {
  background-image: url('./img/char_attack.png');
  animation: char_attack_animation .5s steps(6);
}

.skeleton {
  display: block;
  position: absolute;
  height: 133px;
  z-index: 55;
  background-image: url('./img/skeleton_idle.png');
  opacity: 1;
}

.skeleton__idle {
  width: 100px;
  background-image: url('./img/skeleton_idle.png');
  animation: skeleton_idle_animation 1s steps(11) infinite;
  z-index: 2;
}

.skeleton__run {
  display: block;
  position: absolute;
  width: 100px;
  height: 133px;
  animation: skeleton_run 5s linear infinite;
  bottom: 35vh;
  z-index: 2;
}

.skeleton__dead {
  width: 133px;
  background-image: url('./img/skeleton_dead.png');
  animation: skeleton_dead_animation 1s steps(15);
}

.icon-improve {
  position: absolute;
  bottom: 100px;
  left: 50px;
  width: 100px;
  height: 100px;
  z-index: 55;
  background-image: url('./img/icon_improve.png');
  background-size: cover;

}

.char__coin {
  position: absolute;
  width: 66px;
  height: 66px;
  left: 50px;
  right: 0;
  margin: 0 auto;
  transform: scale(0.7);
  opacity: 0;
  background-image: url('./img/coin.png');
  animation: coin .7s steps(9) infinite, coin_transform .7s ease-in-out;
}



@keyframes floor {
  0% {
    background-position-x: 0;

  }

  100% {
    background-position-x: -94vh;
  }
}

@keyframes backround_1 {
  0% {
    background-position-x: 0;
  }

  100% {
    background-position-x: -98vh;
  }
}

@keyframes backround_2 {
  0% {
    background-position-x: 0;
  }

  100% {
    background-position-x: -98vh;
  }
}

@keyframes char_run_animation {
  100% {
    background-position: -1200px;
  }
}

@keyframes char_attack_animation {
  100% {
    background-position: -1200px;
  }
}

@keyframes skeleton_run {
  0% {
    left: 80vw;
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  100% {
    left: -10vw;
    opacity: 1;
  }
}

@keyframes skeleton_idle_animation {
  0% {
    background-position: 0px;
  }

  100% {
    background-position: -1100px;
  }
}

@keyframes skeleton_dead_animation {
  0% {
    background-position: -2057px;

  }

  100% {
    background-position: 0;
  }
}

@keyframes coin {
  0% {
    background-position: 594px;
  }

  100% {
    background-position: 0;
  }
}

@keyframes coin_transform {
  0% {
    top: -30px;
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    top: -100px;
    opacity: 0;
  }
}